frontend/node_modules

# Output
frontend/.output
frontend/.vercel
frontend/.netlify
frontend.wrangler
frontend/.svelte-kit
frontend/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
frontend/.env
backend/.env

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
